<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
<!-- head Start-->
<div th:replace="fragment/head :: head"></div>
<!-- head End-->

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<!-- HEADER Start -->
	    <div th:replace="fragment/headerTitle :: headerTitle"></div>
	    <!-- HEADER End -->
	    
	    <!-- Side Menu Start -->
	    <div th:replace="fragment/sideMenu :: sideMenu(${code},${menuList})"></div>
	    <!-- Side Menu End -->
		
		<!-- Contents-->
		<th:block layout:fragment="content_body"></th:block>
		<!-- Contents-->
		
		<!-- Footer Start -->
	    <div th:replace="fragment/footer :: footer"></div>
	    <!-- Footer End -->
	
	    <!-- controlSidebar Start -->
	    <div th:replace="fragment/controlSidebar :: controlSidebar"></div>
	    <!-- controlSidebar End -->
	    
	    <div class="control-sidebar-bg"></div>
	</div>
	
	<!-- Custom Script -->
	<th:block layout:fragment="custom_js"></th:block>
	<!-- Custom js -->
</body>
</html>