<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
      
	<th:block layout:fragment="content_body">
	
		<div class="content-wrapper">
	        <section class="content-header">
	            <h1>상품 관리</h1>
	            <ol class="breadcrumb">
	                <li><a href="#"><i class="fa fa-dashboard"></i> 상품 관리</a></li>
	            </ol>
	        </section>
	
	        <section class="content">
	        
	        	<div class="row">
	                <div class="col-xs-12">
	                    <div class="box box-danger">
	                        <div class="box-header with-border">
	                            <h3 class="box-title">상품 검색</h3>
	                        </div>
	                        <div class="box-body">
	                            <div class="row">
	                            	<div class="col-xs-3">
	                                    <label for="itemName">상품명</label>
	                                    <input id="itemName" type="text" class="form-control" placeholder="상품명">
	                                </div>
	                                <div class="col-xs-3">
	                                    <label for="brandName">브랜드명</label>
	                                    <input id="brandName" type="text" class="form-control" placeholder="브랜드명">
	                                </div>
	                                <div class="col-xs-3">
	                                    <label for="status">상태</label>
	                                    <select id="status" name="status" class="form-control">
	                                    	<option selected="selected">선택</option>
	                                    	<option th:each="status : ${statusList}" th:text="${status.title}" th:value="${status.key}"></option>
	                                    </select>
	                                </div>
	                            </div>
	                        </div>
	
	                        <div class="box-footer">
	                            <button id="search" type="submit" class="btn btn-primary bg-light-blue-gradient pull-right">검색</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	
	            <div class="row">
	                <div class="col-xs-12">
	                    <div class="box">
	                        <div class="box-header">
	                            <h3 class="box-title">결과</h3>
	                        </div>
	                        <!-- /.box-header -->
	                        <div class="box-body">
	                            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
	                                <div class="row">
	                                    <div class="col-sm-6"></div>
	                                    <div class="col-sm-6"></div>
	                                </div>
	                                <div class="row">
	                                    <div class="col-sm-12">
	                                        <table id="example2" class="table table-bordered table-hover dataTable"
	                                               role="grid" aria-describedby="example2_info">
	
	                                            <thead>
	                                            <tr role="row">
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														id
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														상품명
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														상품 제목
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														가격
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														브랜드명
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														상태
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														등록일
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														해지일
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														파트너사
	                                                </th>
	                                            </tr>
	                                            </thead>
	                                            <tbody id="itemList">
	                                            <tr role="row" class="odd" v-for="dto in itemList">
	                                                <td class="text-center">{{dto.id}}</td>
	                                                <td class="text-center">{{dto.name}}</td>
	                                                <td class="text-center">{{dto.title}}</td>
	                                                <td class="text-center">{{dto.price}}</td>
	                                                <td class="text-center">{{dto.brand_name}}</td>
	                                                <td class="text-center">{{dto.status}}</td>
	                                                <td class="text-center">{{dto.registered_at}}</td>
	                                                <td class="text-center">{{dto.unregistered_at}}</td>
	                                                <td class="text-center">{{dto.partner_name}}</td>
	                                            </tr>
	                                            </tbody>
	                                        </table>
	                                    </div>
	                                </div>
	                                <div class="row">
	                                    <div class="col-sm-5">
	                                        <div id="showPage" class="dataTables_info" role="status" aria-live="polite">
	                                        	{{currentPage}} / {{totalPages}}
	                                        </div>
	                                    </div>
	                                    <div class="col-sm-7">
	                                        <div class="dataTables_paginate paging_simple_numbers" id="pageBtn">
	                                            <ul class="pagination">
	                                                <li class="paginate_button previous" id="previousBtn">
	                                                    <a href="javascript:;" v-on:click="previousClick()">이전</a>
	                                                </li>
	
	                                                <li class="paginate_button" v-for="btn in btnList" v-bind:btn_id="btn" v-on:click="indexClick(btn)">
	                                                    <a href="javascript:;" aria-controls="example2">{{btn}}</a>
	                                                </li>
	
	                                                <li class="paginate_button next" id="nextBtn">
	                                                    <a href="javascript:;" v-on:click="nextClick()">다음</a>
	                                                </li>
	                                            </ul>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	
	        </section>
	    </div>
	    
	</th:block>
	
	<th:block layout:fragment="custom_js">
		<script src="/app/item.js"></script>
	</th:block>
</html>