<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
      
	<th:block layout:fragment="content_body">
	
		<div class="content-wrapper">
	        <section class="content-header">
	            <h1>사용자 관리
	                <small>파트너사 관리</small>
	            </h1>
	            <ol class="breadcrumb">
	                <li><a href="#"><i class="fa fa-dashboard"></i> 사용자 관리</a></li>
	                <li class="active">파트너사 관리</li>
	            </ol>
	        </section>
	
	        <section class="content">
	
	            <div class="row">
	                <div class="col-xs-12">
	                    <div class="box">
	                        <!-- /.box-header -->
	                        <div class="box-body">
	                            <div class="dataTables_wrapper form-inline dt-bootstrap">
	                                <div class="row">
	                            		<div class="col-sm-12">
											<form class="navbar-form navbar-left" onsubmit="return false;" id="categoryForm">
											  <div class="form-group">
											  	<input type="hidden" id="id" name="id">
											    <input type="text" class="form-control" placeholder="주소" id="address" name="address">
											    <input type="text" class="form-control" placeholder="콜센터 번호" id="call_center" name="call_center">
											    <input type="text" class="form-control" placeholder="파트너사 번호" id="partner_number" name="partner_number">
											    <input type="text" class="form-control" placeholder="사업자등록번호" id="business_number" name="business_number">
											    <input type="text" class="form-control" placeholder="대표자명" id="ceo_name" name="ceo_name">
											    <select class="form-control" id="status" name="status">
											    	<option th:each="status : ${statusList}" th:value=""></option>
											    </select>
											    <input type="text" class="form-control" placeholder="카테고리" id="category_id" name="category_id">
											  </div>
											  <button type="button" class="btn btn-info" onclick="create();" id="createBtn">등록</button>
											  <div class="btn-group" role="group" id="btnGroup" style="display: none;">
												  <button type="button" class="btn btn-warning" onclick="updateBtn()">수정</button>
												  <button type="button" class="btn btn-danger" onclick="deleteBtn()">삭제</button>
												  <button type="button" class="btn btn-default" onclick="cancelBtn()">취소</button>
											  </div>
											</form>
	                            		</div>
									</div>
	                                <div class="row">
	                                    <div class="col-sm-12">
	                                        <table id="example2" class="table table-bordered table-hover dataTable"
	                                               role="grid" aria-describedby="example2_info">
	
	                                            <thead>
	                                            <tr role="row">
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														id
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														지점 이름
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														주소
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														콜센터 번호
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														파트너사 번호
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														사업자등록번호
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														대표자명
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														상태
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														가입일
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														해지일
	                                                </th>
	                                                <th class="text-center bg-light-blue-gradient" tabindex="0" rowspan="1" colspan="1">
														상품 카테고리
	                                                </th>
	                                            </tr>
	                                            </thead>
	                                            <tbody id="itemList">
		                                            <tr role="row" class="odd" v-for="dto in itemList">
		                                                <td class="text-center">{{dto.id}}</td>
		                                                <td class="text-center">{{dto.name}}</td>
		                                                <td class="text-center">{{dto.address}}</td>
		                                                <td class="text-center">{{dto.call_center}}</td>
		                                                <td class="text-center">{{dto.partner_number}}</td>
		                                                <td class="text-center">{{dto.business_number}}</td>
		                                                <td class="text-center">{{dto.ceo_name}}</td>
		                                                <td class="text-center">{{dto.status}}</td>
		                                                <td class="text-center">{{dto.registered_at}}</td>
	                                                	<td class="text-center">{{dto.unregistered_at}}</td>
	                                                	<td class="text-center">{{dto.category_title}}</td>
		                                            </tr>
	                                            </tbody>
	                                        </table>
	                                    </div>
	                                </div>
	                                <div class="row">
	                                    <div class="col-sm-5">
	                                        <div id="showPage" class="dataTables_info" role="status" aria-live="polite">
	                                        	{{currentPage}} / {{totalPages}}
	                                        </div>
	                                    </div>
	                                    <div class="col-sm-7">
	                                        <div class="dataTables_paginate paging_simple_numbers" id="pageBtn">
	                                            <ul class="pagination">
	                                                <li class="paginate_button previous" id="previousBtn">
	                                                    <a href="javascript:;" v-on:click="previousClick()">이전</a>
	                                                </li>
	
	                                                <li class="paginate_button" v-for="btn in btnList" v-bind:btn_id="btn" v-on:click="indexClick(btn)">
	                                                    <a href="javascript:;" aria-controls="example2">{{btn}}</a>
	                                                </li>
	
	                                                <li class="paginate_button next" id="nextBtn">
	                                                    <a href="javascript:;" v-on:click="nextClick()">다음</a>
	                                                </li>
	                                            </ul>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	
	        </section>
	    </div>
	    
	</th:block>
	
	<th:block layout:fragment="custom_js">
		<script src="/app/partner.js"></script>
	</th:block>
</html>